.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardActions {
  background-image: url("images/bg-mob-card.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cardPromo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cardPromo:nth-child(2n + 1) {
  background-image: url("images/bg-promo-1.svg");
}
.cardPromo:nth-child(2n) {
  background-image: url("images/bg-promo-2.svg");
}

.MuiMenu-list {
  background-color: #f6efe6e5;
}

@media (min-width: 768px) {
  .cardActions {
    background-image: url("images/bg-card.svg");
  }
}
